@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.wrapper {
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#time {
    height: 100%;
    font: lato;
    font-size: 8em;
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}